.modal-dialog {width:600px;}
.thumbnail {margin-bottom:6px;}

@media (max-width: 1000px){
  .service_image{
    width: 80%;
    padding: 15px;
  }
  .service_box{
    text-align: center;
    opacity:1;

    /*border: 2px solid grey;*/
  }

  .service_image:hover{
  	transition: all 0.3s ease 0s;
  	opacity:.75s;
  }
}
