<div class="col-lg-3 col-xs-4 service_box">
	<a href="img/02.png" data-toggle="modal" data-target=<%= "#service_#{image_name}" %> data-lightbox="gallery">
		<%= image_tag "#{image_name}.png", class: "main_image", name: "#{image_name}", id: "#{image_name}" %>
		
		<%= image_tag "#{image_name}_text.png", class: "hover_image", name: "#{image_name}", id: "#{image_name}_text" %>

		</a> 
</div>